.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.list{
    display: flex;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-custom {
    background-color: #162739 !important;
}


.navbar-custom .nav-link {
    color: #BFCBCB;
}

.btn-custom {
    color: #AC8651;
    border-color: #AC8651;
}
.btn-custom:hover {
    color: #BFCBCB;
}

body {
    background-color: #D1EBF2;
}


.footer {
    background-color: #D1EBF2;
}

