.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

.list{
    display: flex;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-light.navbar-custom {
    background-color: #162739 !important;
}


.navbar-custom .nav-link {
    color: #BFCBCB;
}

.navbar-custom .navbar-toggler {
    background-color: #D1EBF2;
}

.btn-custom {
    color: #AC8651;
    border-color: #AC8651;
}
.btn-custom:hover {
    color: #BFCBCB;
}

.navbar-custom .nav-link:hover {
    color: #AC8651;
}

.navbar-custom .nav-link {
    position: relative;
    display: inline-block;
}

.navbar-custom .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1px;
    left: 50%;
    background-color: #AC8651;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.navbar-custom .nav-link:hover::after {
    width: 100%;
    left: 0;
}


body {
    background-color: #D1EBF2;
}


.footer {
    background-color: #D1EBF2;
}

